{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Bag {% endblock %}


{% block content %}
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="logo-font mb-4">Your Travel Shopping Bag</h2>
                <hr>
            </div>
        </div>
    </div>
    <!--Display all the bag items-->
    <div class="row m-1">
        <div class="col">
            {% if bag_items %}
            {% for item in bag_items %}
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <h4>Trip Info</h4>
                </div>
            </div>
            <div class="row m-1">
                <!--trip image-->
                <div class="col-lg-3 col-md-6 spacing-md">
                    <img class="img-fluid" src="{{ item.trip.images.url }}" alt="{{ item.trip.name }}">
                </div>
                <!--trip details-->
                <div class="col-lg-2 col-md-6">
                    <a href="{{ item.trip.get_url }}" class="trip-link">
                        <h5>{{ item.trip.name }}</h5>
                    </a>
                    <p><i class="fas fa-hourglass-end fa-lg" aria-hidden="true"></i><strong> Duration: </strong>
                        {{ item.trip.duration }}hrs</p>
                    <p><i class="far fa-clock fa-lg" aria-hidden="true"></i> <strong>Start Time: </strong>
                        {{ item.trip.start_time }}</p>
                    <p><i class="fas fa-map-marked-alt fa-lg" aria-hidden="true"></i> <strong> Departure Location:
                        </strong>
                        {{ item.trip.departure_location }}</p>
                    {% if item.trip.averageRating > 0 %}
                    <p>
                        <i class="fas fa-star fa-lg" aria-hidden="true"></i>
                        {{ item.trip.averageRating|floatformat:1 }}/5
                        <span class="sr-only">rating</span>
                    </p>
                    {% endif %}
                    {% if trip.family_friendly %}
                    <p><i class="fas fa-child fa-lg" aria-hidden="true"></i> <strong>Friendly Friendly</strong></p>
                    {% endif %}
                </div>
                <!--Number of tickets-->
                <div class="col-lg-2 col-md-4">
                    <h4>Tickets <i class="fas fa-ticket-alt" aria-hidden="true"></i></h4>
                    <p class="my-0">{{ item.adult_tickets }} <strong>Adults</strong></p>
                    <!--check if there are any children tickets-->
                    {% if item.trip.family_friendly %}
                    <p class="my-0 mt-2">{{ item.children_tickets }} <strong>Children</strong></p>
                    {% endif %}
                    <p class="my-0">{{ item.total_tickets }} <strong>Total Tickets</strong></p>
                </div>
                <!--Price-->
                <div class="col-lg-1 col-md-4">
                    <h4>Price</h4>
                    <p class="my-0">
                        <i class="fas fa-euro-sign" aria-hidden="true"></i> {{ item.adult_price }}
                        <span class="sr-only">euro</span>
                    </p>
                    <!--check if there are any children tickets-->
                    {% if item.trip.family_friendly %}
                    <p class="my-0 mt-2">
                        <i class="fas fa-euro-sign" aria-hidden="true"></i> {{ item.child_price }}
                        <span class="sr-only">euro</span>
                    </p>
                    {% endif %}
                </div>
                <!--Update quantity form-->
                <div class="col-lg-2 col-md-4">
                    <h4>Quantity</h4>
                    <form class="form update-form" action="{% url 'update_bag' item.trip.id %}" method="POST">
                        {% csrf_token %}
                        <!--Adult Quantity-->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrease-quantity btn btn-sm">
                                        <span>
                                            <i class="fas fa-minus fa-sm" aria-hidden="true"></i>
                                            <span class="sr-only">minus</span>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control form-control-sm qty_input" type="number" name="adult_tickets"
                                    value="{{ item.adult_tickets }}" data-item_id="{{ item.trip.id }}">
                                <div class="input-group-append">
                                    <button class="add-quantity btn btn-sm" data-item_id="{{ item.trip_id }}">
                                        <span>
                                            <i class="fas fa-plus fa-sm" aria-hidden="true"></i>
                                            <span class="sr-only">plus</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--Child Quantity-->
                        {% if item.trip.family_friendly %}
                        <div class="form-group mt-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrease-quantity-child btn btn-sm"
                                        data-item_id="{{ item.trip.id }}">
                                        <span>
                                            <i class="fas fa-minus fa-sm" aria-hidden="true"></i>
                                            <span class="sr-only">minus</span>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control form-control-sm qty_input child-input" type="number"
                                    name="children_tickets" value="{{ item.children_tickets }}"
                                    data-item_id="{{ item.trip.id }}">
                                <div class="input-group-append">
                                    <button class="add-quantity btn btn-sm" data-item_id="{{ item.trip_id }}">
                                        <span>
                                            <i class="fas fa-plus fa-sm" aria-hidden="true"></i>
                                            <span class="sr-only">plus</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!--Date Picker-->
                        <div class="form-group mt-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <h4>Booking Date: <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                        <input type="text" class="calendar form-control datepicker" name="booking_date"
                                            value="{{ item.booking_date }}" id="datepicker-{{ item.trip.id }}">
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--Update/Remove buttons-->
                    <div class="row">
                        <div class="col">
                            <a class="update-link btn d-inline"><small><i class="fas fa-sync" aria-hidden="true"></i>
                                    Update</small></a>
                            <a href="{% url 'remove_from_bag' item.trip.id %}"
                                class="remove-item float-right btn d-inline">
                                <small>Remove <i class="fas fa-trash" aria-hidden="true"></i></small></a>
                        </div>
                    </div>
                </div>
                <!--Sub btotal-->
                <div class="col-lg-2 col-md-12">
                    <div class="float-end">
                        <h4>Sub Total</h4>
                        <p class="d-inline"><i class="fas fa-euro-sign d-inline" aria-hidden="true"></i>
                            {{ item.total_price }}
                            <span class="sr-only">euro</span>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
            <!--grand total-->
            <div class="row m-1">
                <div class="col">
                    <div class="float-end">
                       <h4 class="d-inline">Grand Total</h4>
                       <p class="d-inline">
                           <i class="fas fa-euro-sign" aria-hidden="true"></i> {{ grand_total }}
                           <span class="sr-only">euro</span>
                       </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                    <div class="float-start">
                        <!--back to trips button-->
                        <a href="{% url 'trips' %}" class="btn btn-more">
                            <span class="icon">
                                <i class="fas fa-chevron-left" aria-hidden="true"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="float-end">
                        <!--checkout button-->
                        <a href="{% url 'checkout' %}" class="btn btn-dropdown">
                            <span class="font-weight-bold">Proceed to Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <!--else the message and the link to go back to the home page-->
            <div class="row">
                <div class="col text-center">
                    <p class="lead mb-5">Your bag is empty</p>
                    <a href="{% url 'trips' %}" class="btn btn-more">
                        <span class="icon">
                            <i class="fas fa-chevron-left" aria-hidden="true"></i>
                        </span>
                        <span class="text-uppercase">Discover More Trips</span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'bag/js/quantity.js' %}"></script>

{% endblock %}