{% extends 'base.html' %}
{% load static %}


{% block extra_title %} Checkout {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}



{% block content %}
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="logo-font mb-4">Thank you! </h2>
                <hr>
                <p>Your order information is below. A confirmation email will be sent to
                    <strong>{{ order.email }}</strong>
                </p>
            </div>
        </div>
        <!--Order Info-->
        <div class="row">
            <div class="col-12">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Tickets Info:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold"><strong>Ticket Number:</strong></p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                            <p class="text-muted">
                                Please present this ticket number to the trip provider on your arrival
                            </p>
                        </div>
                    </div>
                    <!--Ticket Details-->
                    <div class="row">
                        <div class="col-lg-8 mt-3">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>
                    {% for item in order.ticketitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p><strong>Trip Name:</strong></p>
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ item.trip.name }}
                            </p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right mt-3">
                            <p><strong><i class="fas fa-ticket-alt" aria-hidden="true"></i> Tickets Purchased :
                                </strong></p>
                            <p class="small mb-0">
                                {{ item.adult_quantity }} adults @ <i class="fas fa-euro-sign" aria-hidden="true"></i>
                                <span class="sr-only">euro</span>
                                {{ item.trip.adult_price }} each
                            </p>
                            {% if item.child_quantity > 0 %}
                            <p class="small mb-0">
                                {{ item.child_quantity }} children @ <i class="fas fa-euro-sign" aria-hidden="true"></i>
                                <span class="sr-only">euro</span>
                                {{ item.trip.child_price }} each
                            </p>
                            {% endif %}
                        </div>
                        <!--booking date-->
                        <div class="col-12 col-md-3 text-md-right mt-3">
                            <p>
                                <strong><i class="fas fa-calendar-alt" aria-hidden="true"></i> Booking Date :</strong>
                            </p>
                            <p class="small mb-0">{{ item.booking_date }}</p>
                        </div>
                        <div class="col-12 col-md-2 text-md-right mt-3">
                            <p>
                                <strong><i class="fas fa-money-bill-wave" aria-hidden="true"></i> Total Cost :</strong>
                            </p>
                            <p class="small mb-0">
                                <i class="fas fa-euro-sign" aria-hidden="true"></i>
                                <span class="sr-only">euro</span>
                                {{ item.ticketitem_total }}
                            </p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    <!--Billing info-->
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p class="mb-0">
                                <strong><i class="fas fa-user" aria-hidden="true"></i> Full Name:</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">
                            <p class="mb-0 d-inline">{{ order.first_name|capfirst}}</p>
                            <p class="mb-0 d-inline">{{ order.last_name|capfirst }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p class="mb-0">
                                <strong><i class="fas fa-map-marked-alt" aria-hidden="true"></i> Address:</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">
                            <p class="mb-0">{{ order.street_address1|title }}</p>
                        </div>
                    </div>
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p class="mb-0">
                                <strong><i class="fas fa-map-marked-alt" aria-hidden="true"></i>Address:</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">
                            <p class="mb-0">{{ order.street_address2|title }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p class="mb-0">
                                <strong><i class="fas fa-home" aria-hidden="true"></i>County:</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.county|capfirst }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p class="mb-0">
                                <strong><i class="fas fa-city" aria-hidden="true"></i> Town or City:</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.town_or_city|capfirst }}</p>
                        </div>
                    </div>
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p class="mb-0">
                                <strong><i class="fas fa-home" aria-hidden="true"></i> Postal Code:</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.postcode|upper }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p class="mb-0">
                                <strong><i class="fas fa-globe" aria-hidden="true"></i> Country:</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p class="mb-0">
                                <strong><i class="fas fa-mobile-alt" aria-hidden="true"></i> Phone Number:</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p class="mb-0">
                                <strong><i class="fas fa-at" aria-hidden="true"></i> Email Address:</strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mt-3">
                            <p class="mb-0">
                                <strong>
                                    <i class="fas fa-euro-sign" aria-hidden="true"></i>
                                    Order Total:
                                </strong>
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">
                                <i class="fas fa-euro-sign" aria-hidden="true"></i>
                                <span class="sr-only">euro</span>
                                {{ order.order_total }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Profile link-->
        <div class="row">
            <div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                <!--User is viewing past order history-->
                <a href="{% url 'profile' %}" class="btn btn-dropdown">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left" aria-hidden="true" ></i>
                    </span>
                    <span class="text-uppercase">Back to Profile</span>
                </a>
                {% else %}
                <a href="{% url 'trips' %}" class="btn btn-next">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left" aria-hidden="true"></i>
                    </span>
                    <span class="text-uppercase">Discover more Trips</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

