{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'trips/css/star-rating.css' %}">
{% endblock %}



{% block extra_js %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block extra_title %} Trips {% endblock %}

{% block content %}
<section class="main-content">
    <div class="container">
        <!--heading-->
        <div class="row spacing">
            <div class="col-s12 mt-1">
                <h1 class="text-center heading">{{ trip.name }}</h1>
            </div>
        </div>
       <!--Add to favourite link-->
        <div class="row">
            <div class="col">
                <button type="button" name="{{ trip.add_to_favourite }}"
                    class="btn btn-lg btn-favourite add-to-favourites" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Add to favourites" name="add-to-favourites">
                    <i class="fas fa-heart"></i>
                </button>
                <img src="{{ trip.images.url }}" class="card-img-top" alt="{{ trip.name }}">
            </div>
        </div>
        <!--Trip Details-->
        <div class="row mt-2">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-hourglass-end fa-lg"></i><strong> Duration: </strong>
                        {{ trip.duration }}hrs</li>
                    <li class="list-group-item"><i class="far fa-clock fa-lg"></i> <strong>Start Time: </strong>
                        {{ trip.start_time }}</li>
                    <li class="list-group-item"><i class="fas fa-map-marked-alt fa-lg"></i> <strong> Departure Location:
                        </strong> {{ trip.departure_location }}</li>
                    <li class="list-group-item"><i class="fas fa-euro-sign fa-lg"></i> {{ trip.adult_price }}
                        <strong>per adult</strong></li>
                    {% if trip.child_price > 0 %}
                    <li class="list-group-item"><i class="fas fa-euro-sign fa-lg"></i> {{ trip.child_price }}
                        <strong>per child above 4yrs</strong></li>
                    {% endif %}
                    {% if trip.averageRating > 0 %}
                    <li class="list-group-item"><i class="fas fa-star fa-lg"></i> {{ trip.averageRating }} /5
                    </li>
                    {% else %}
                    <li class="list-group-item"><i class="fas fa-star fa-lg text-black"></i> No rating yet </li>
                    {% endif %}
                    <li class="list-group-item"><i class="fas fa-comments"></i> {{ trip.totalReviews }} reviews</li>
                    {% if trip.family_friendly %}
                    <li class="list-group-item"><i class="fas fa-child fa-lg"></i> <strong>Friendly Friendly</strong>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--Booking Modal-->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-md btn-next btn-book" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Book Now
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content review-form">
                            <!--form-->
                            <form action="{% url 'add_to_bag' trip.id %}" method="POST">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ trip.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label for="total_adults"><strong>Number of Adults:</strong></label>
                                            <i class="fas fa-user-friends"></i>
                                            <input type="number" id="total_adults" class="from-control"
                                                name="adult_tickets" min="1" max="9" value="1"
                                                oninput="this.setCustomValidity('')"
                                                oninvalid="this.setCustomValidity('At least 1 adult ticket is required to purchase a trip')"
                                                required>
                                            <p> @ <i class="fas fa-euro-sign"></i> {{ trip.adult_price }} <span
                                                    class="text-muted "> per person</span></p>
                                        </div>
                                        {% if trip.family_friendly %}
                                        <div class="col-lg-4">
                                            <label for="children_tickets"><strong>Number of Children:</strong></label>
                                            <i class="fas fa-child"></i>
                                            <input type="number" id="children_tickets" class="from-control"
                                                name="children_tickets" value="0" min="0" max="9">
                                            <p> @ <i class="fas fa-euro-sign"></i> {{ trip.child_price }} <span
                                                    class="text-muted ">per child</span></p>
                                        </div>
                                        {% else %}
                                        <div class="col-lg-4 d-none">
                                            <label for="children_tickets">Select Number of Children:</label>
                                            <input type="number" id="children_tickets" class="from-control"
                                                name="children_tickets" value="0" min="0" max="9">
                                        </div>
                                        {% endif %}
                                        <div class="col-lg-4">
                                            <p><strong>Select the Date: </strong><i class="far fa-calendar-alt"></i>
                                                <input type="text" class="calendar form-control" name="booking_date"
                                                    id="datepicker" oninput="this.setCustomValidity('')"
                                                    oninvalid="this.setCustomValidity('Please select the date for your trip')"
                                                    required>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col modal-btn">
                                            <button type="button" class="btn btn-lg btn-secondary"
                                                data-bs-dismiss="modal">
                                                <i class="fas fa-times"></i> Close</button>
                                            <button type="submit" class="btn btn-lg add-booking-btn">
                                                Add to <i class="fas fa-suitcase-rolling"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Full Description-->
        <div class="row mt-2">
            <div class="col">
                <h2>Full Description</h2>
                <p>{{ trip.full_description }}</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <h3>What is Included</h3>
                <p>{{ trip.included }}</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <h3>What to Bring</h3>
                <p>{{ trip.what_to_bring }}</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <h4>Cancellation Policy</h4>
                <p>You may cancel your trip 24hrs in advance to get a full refund.
                    Any trips cancelled less than 24hrs in advance will not qualify for a refund.
                </p>
            </div>
        </div>
       
        {% if user.is_authenticated %}
        <div class="row spacing">
        <!--User Reviews-->
        <form action="{% url 'submit_review' trip.id  user.id %}" method="POST" class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 review-form" id="review-form">
            {% csrf_token %}
            <h4 class="text-center m-2">Review this Trip</h4>
            <p>How would you rate this trip?</p>
            <div class="rating">
                <!--Star Rating-->
                <label for="rating10" title="5" class="d-none"></label>
                <input type="radio" name="rating" id="rating10" value="5" class="d"/>
                <label for="rating10" title="5"></label>
                <input type="radio" name="rating" id="rating10" value="5" class="d"/>
                <label for="rating9" title="4.5" class="half"></label>
                <input type="radio" name="rating" id="rating9" value="4.5" class="d"/>
                <label for="rating8" title="4"></label>
                <input type="radio" name="rating" id="rating8" value="4" class="d"/>
                <label for="rating7" title="3.5" class="half"></label>
                <input type="radio" name="rating" id="rating7" value="3.5" class="d"/>
                <label for="rating6" title="3"></label>
                <input type="radio" name="rating" id="rating6" value="3" class="d" />
                <label for="rating5" title="2.5" class="half"></label>
                <input type="radio" name="rating" id="rating5" value="2.5" class="d"/>
                <label for="rating4" title="2"></label>
                <input type="radio" name="rating" id="rating4" value="2" class="d"/>
                <label for="rating3" title="1.5" class="half"></label>
                <input type="radio" name="rating" id="rating3" value="1.5" class="d"/>
                <label for="rating2" title="1"></label>
                <input type="radio" name="rating" id="rating2" value="1" class="d"/>
                <label for="rating1" title="0.5" class="half"></label>
                <input type="radio" name="rating" id="rating1" value="0.5" class="d" required/>
            </div>
            <div class="col">
                <label for="subject" class="form-label">Review Title:</label>
                <input type="text" name="subject" id="subject" class="form-control" required autofocus>
            </div>
            <div class="col">
                <label for="review" class="form-label">Review:</label>
                <textarea name="review" id="review" rows="10" class="form-control"></textarea>
            </div>
            <div class="col float-end">
                <button type="submit" class="btn btn-next" id="btn-submit">Submit Review</button>
            </div>
            {% else %}
            <div class="row justify-content-md-center">
                <div class="col">
                  <p class="d-md-inline"> Have you been on this trip, please rate your experience</p>
                  <a class="btn btn-dropdown d-md-inline" href="{% url 'login' %}">Login</a>
                </div>
             </div>
            {% endif %}
        </form>
        </div>
        <div class="row m-2">
            <div class="col text-center">
                <h3 class="text-center">Customer Reviews</h3>
                {% if trip.totalReviews > 0 %}
                <span class="text-muted">There are {{ trip.totalReviews }} reviews for this trip</span>
                {% endif %}
            </div>
        </div>
        {% if reviews %}
        <div class="row m-1">
            {% for review in reviews %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-3">
                    <div class="col-md-10">
                        <div class="card-body">
                          <h5 class="card-title">{{ review.subject }}</h5>
                          <div class="star-rating">
                            <i class="fas fa-star{% if review.rating == 0.5 %}-half{% elif review.rating < 1 %}-o{%endif%}"></i>
                            <i class="fas fa-star{% if review.rating == 1.5 %}-half{% elif review.rating < 2 %}-o{%endif%}"></i>
                            <i class="fas fa-star{% if review.rating == 2.5 %}-half{% elif review.rating < 3 %}-o{%endif%}"></i>
                            <i class="fas fa-star{% if review.rating == 3.5 %}-half{% elif review.rating < 4 %}-o{%endif%}"></i>
                            <i class="fas fa-star{% if review.rating == 4.5 %}-half{% elif review.rating < 5 %}-o{%endif%}"></i>
                          </div>
                          <p class="card-text">{{ review.review }}</p>
                        </div>
                        <div class="row g-0">
                            <div class="col-md-2">
                               
                                <img src="{{ review.user.userprofile.profile_img.url }}" class="img-fluid img-thumbnail rounded-circle" alt="user profile image">
                        
                            </div>
                            <div class="col-md-10 user-div">
                                <h6 class="d-inline"><span class="text-muted">by</span> {{ review.user.first_name|capfirst }}</h6>
                                {% if review.updated_at %}
                                <p class="card-text d-inline"><small class="text-muted">Updated on: {{ review.updated_at|date:"M d, Y" }}</small></p>
                                {% else %}
                                <p class="card-text d-inline"><small class="text-muted">Created on: {{ review.created_at|date:"M d, Y" }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="col">
                <p class="text-center">This Trip does not have any reviews yet.</p>

            </div>
        {% endif %}
        <div class="row">
            <div class="col justify-content-center btn-div">
                <a href="{% url 'trips' %}" class="btn btn-lg btn-next">Go Back to All Trips</a>
            </div>
        </div>
    </div>
</section>

      

{% endblock %}

{% block postloadjs %}
   {{ block.super }}

<script>

    // Modal
    var myModal = document.getElementById('exampleModal')
    var myInput = document.getElementById('total_adults')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })

    // Validate star rating
    const submit = document.getElementById('btn-submit')
    const rating = document.getElementById('rating1')
    
    submit.addEventListener('submit', function(e) {
        e.preventDefault();
        if (rating < 0) {
            rating.removeAttribute("required");
        }   
    });


</script>



{% endblock %}