{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Home {% endblock %}

{% block content %}
     <div class="container">
         <div class="row">
             <div class="col">
                 
             </div>
         </div>
         <!--heading-->
         <div class="row">
             <div class="col-s12">
                 <h1 class="text-center">All Trips</h1>
                 {{ trips }}
             </div>
         </div>
        
      

{% endblock %}

{% block postloadjs %}

{% endblock %}