{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Trips {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'trips/css/trips.css' %}">
{% endblock %}

{% block content %}

<section class="main-content">
    <div class="container p-0">
        <!--heading-->
        <div class="row">
            <div class="col-s12 mt-4">
                <h1 class="text-center heading">View All The Experiences</h1>
            </div>
        </div>
        <!--Search Form-->
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12">
                <form method="GET" action="{% url 'search' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control search-btn" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                    <span class="sr-only">search</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col m-2 text-center">
                <h2>Refine Your Search</h2>
            </div>
        </div>
        <!--Filter by Category-->
        <div class="row results">
            <div class="col-md-6 col-sm-12">
                <div class="btn-group">
                    <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">Choose Your Category
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'trips' %}">All Trips</a></li>
                        {% for category in links %}
                        <li><a class="dropdown-item"
                                href="{{ category.get_url }}">{{ category.category_name | capfirst }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!--Sorting-->
            <div class="col-md-6 col-sm-12 sort-div">
                <div class="btn-group">
                    <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sort By
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" href="{% url 'search' %}?sort=adult_price&direction=asc">
                                By Price
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'sort_rating' %}">
                                By Rating
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'search' %}?sort=duration&direction=asc">
                                By Duration
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'sort_family_friendly' %}">
                                Family Friendly
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-0">
        <!--display all the trips-->
        <div class="row">
            <div class="col">
                <p class="result-count">
                    <span class="results">{{ result_count }}</span> Results Found
                </p>
                {% if result_count == 0 %}
                <p class="text-center">We do not have any trips with your search criteria, please try again.</p>
                {% endif %}
            </div>
        </div>
        <hr>
        <!--Display All Trips-->
        <div class="row">
            {% for trip in trips %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-trip">
                    <!--Add to favourites-->
                    {% if user.is_authenticated %}
                    {% if trip in fav_trips %}
                    <a href="{% url 'add_to_favourite' trip.id %}" class="btn add-to-favourites add"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="remove from favourites">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                        <span class="sr-only">remove from favourites</span>
                    </a>
                    {% else %}
                    <a href="{% url 'add_to_favourite' trip.id %}" class="btn add-to-favourites add"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Add to favourites">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                        <span class="sr-only">add to favourites</span>
                    </a>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'login' %}" class="btn add-to-favourites" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Login to add this trip to favourites">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                        <span class="sr-only">add to favourites</span>
                    </a>
                    {% endif %}
                    <!--Trip Image-->
                    <a href="{{ trip.get_url }}">
                        <img src="{{ trip.images.url }}" class="card-img-top" alt="{{ trip.name }}">
                    </a>
                    <div class="card-body">
                        <!--Trip Name-->
                        <a href="{{ trip.get_url }}" class="trip-link">
                            <h4 class="card-title">{{ trip.name }}</h4>
                        </a>
                        <!--Description-->
                        <p class="card-text short-description">{{ trip.short_description }}</p>
                        <hr>
                        <div class="row">
                            <!--Duration-->
                            <div class="col">
                                <p>
                                    <i class="fas fa-hourglass-end d-block" aria-hidden="true"></i>
                                    <span class="sr-only">duration</span>
                                    {{ trip.duration }}hrs
                                </p>
                            </div>
                            <!--Price-->
                            <div class="col">
                                <p>
                                    <i class="fas fa-euro-sign d-block" aria-hidden="true"></i>
                                    <span class="sr-only">euro</span>
                                    {{ trip.adult_price }}
                                </p>
                            </div>
                            <!--Star rating-->
                            <div class="col">
                                {% if trip.averageRating > 0 %}
                                <p>
                                    <i class="fas fa-star d-block" aria-hidden="true"></i>
                                    <span class="sr-only">star rating</span>
                                    {{ trip.averageRating|floatformat:1 }}/5
                                </p>
                                {% else %}
                                <p>
                                    <i class="fas fa-star d-block text-black" aria-hidden="true"></i>
                                    <span class="sr-only">star rating</span>
                                    No rating yet
                                </p>
                                {% endif %}
                            </div>
                            <!--Family Friendly-->
                            <div class="col">
                                {% if trip.family_friendly %}
                                <p>
                                    <i class="fas fa-child d-block" aria-hidden="true"></i>
                                    <span class="sr-only">family friendly</span>
                                    Family Friendly
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row mt-2 mb-2">
                            <!--Delete Links-->
                            <div class="col">
                                {% if user.is_superadmin %}
                                <!--Delete trip Modal-->
                                {% include 'trips/includes/delete-modal-trip.html' %}
                                <!--Update Link-->
                                <a href="{% url 'update_trip' trip.id %}" class="d-inline btn update-link m-1">
                                    Update <i class="fas fa-sync" aria-hidden="true"></i>
                                    <span class="sr-only">update</span>
                                </a>
                                {% endif %}
                                <!--Link to Trip Details-->
                                <a href="{{ trip.get_url }}" class="d-inline btn text-white btn-next btn-bottom">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                    More Info
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <!--Pagination-->
        <div class="row mt-3">
            <div class="col">
                <nav aria-label="Page navigation example" class="pagination-nav">
                    <!--Check if the trips has more pages and display dynamically-->
                    {% if trips.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if trips.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                                href="?{% if keyword %}q={{keyword}}&{% elif sortkey %}sort={{ sortkey }}&direction={{ direction }}{% endif %}&page={{ trips.previous_page_number }}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous page</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" role="button" aria-disabled="true">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous page</span>
                            </a>
                        </li>
                        {% endif %}
                        <!--Dynamic page range-->
                        {% for i in trips.paginator.page_range %}
                        {% if trips.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link"
                                href="?{% if keyword %}q={{keyword}}{% elif sortkey %}sort={{ sortkey }}&direction={{ direction }}&{% endif %}&page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <!--Dynamic next button -->
                        {% if trips.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                                href="?{% if keyword %}q={{keyword}}{% elif sortkey %}sort={{ sortkey }}&direction={{ direction }}{% endif %}&page={{ trips.next_page_number }}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next page</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next page</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</section>

{% endblock %}
