{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Trips {% endblock %}

{% block content %}
<section class="main-content">
    <div class="container">
        <!--heading-->
        <div class="row">
            <div class="col-s12 mt-1">
                <h1 class="text-center heading">View All The Experiences</h1>
            </div>
        </div>
        <!--Search Form-->
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12">
                <form method="GET" action="#">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col m-2 text-center">
                <h2>Refine Your Search</h2>
            </div>
        </div>
        <!--Here we will bring the categories and display all the category names -->
        <!--Could also do filter by price and duration full day trips or half day trips-->
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-6 col-sm-6 offset-sm-6">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Choose Your Category
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <!--Get Category model function for category slack-->
                        <li><a class="dropdown-item" href="{% url 'trips' %}">All Trips</a></li>
                      {% for category in links %}
                        <li><a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name | capfirst }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
            </div>
        </div>
    </div>

<!--display all the trips-->

    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                   <span class="results">{{ result_count }}</span> Results Found
                </p>
 
            </div>
        </div>
        <hr>
        <div class="row">
            {% for trip in trips %}
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card card-trip">
                    <button type="button" class="btn add-to-favourites" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to favourites">
                        <i class="fas fa-heart"></i>
                    </button>
                    <a href="{{ trip.get_url }}">
                       <img src="{{ trip.images.url }}" class="card-img-top" alt="{{ trip.name }}">
                    </a>
                    <div class="card-body">
                        <a href="{{ trip.get_url }}">
                            <h4 class="card-title">{{ trip.name }}</h4>
                        </a>
                        <p class="card-text short-description">{{ trip.short_description }}</p>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fas fa-hourglass-end"></i>{{ trip.duration }}hrs</li>
                            <li class="list-group-item"><i class="fas fa-euro-sign"></i>{{ trip.adult_price }}</li>
                            <li class="list-group-item"><i class="fas fa-star"></i> 5/5 </li>
                            {% if trip.family_friendly %}
                            <li class="list-group-item"><i class="fas fa-child"></i>Family</li>
                            {% endif %}
                        </ul>
                        <a href="{{ trip.get_url }}" class="btn ml-3 btn-more"><i class="fas fa-plus"></i>More Info
                        </a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Pagination-->
<section class="pagination-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <!--Check if the trips has more pages and display dynamically-->
                    {% if trips.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if trips.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ trips.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a href="#" class="page-link" tabindex="-1" role="button" aria-disabled="true">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        <!--Dynamic page range-->
                        {% for i in trips.paginator.page_range %}
                            {% if trips.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                        {% endfor %}
                        <!--Dynamic next button -->
                        {% if trips.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ trips.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                      {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                      {% endif %}
                    </ul>
                    {% endif %}
                  </nav>
            </div>
        </div>
    </div>
</section>
      

{% endblock %}

{% block postloadjs %}

{% endblock %}