html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-seri;
    color: #000000;
    background-color: #fafafa;
    font-size: 1.2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.spacing {
    margin: 1rem;
    padding: 1rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Acme', sans-serif;
}

section {
    height: 50vh;
    margin-top: 7rem;
}


/*************************Navigation*/

nav,
.main-nav {
    background-color: #000000;
}

header,
.dropdown-menu {
    background-color: #000000;
}

.dropdown-item {
    color: #fafafa;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    text-shadow: 2px 2px #000000;
}

.navbar-toggler {
    background-color: #fafafa;
}

.fa-bars {
    padding-top: 5px;
}

.nav-item a:hover,
a:active,
.main-logo-link:hover {
    border: 1px solid #2576da;
    transition: ease-in-out all .4s;
    -moz-transition: ease-in-out all .4s;
    -webkit-transition: ease-in-out all .4s;
    background-color: rgba(97, 95, 95, 0.6);
    text-decoration: none;
    font-weight: bold;
}

.navbar-toggler:hover {
    border-radius: 5%;
    border: 3px solid #2576da;
    transition: ease-in-out all .4s;
    -moz-transition: ease-in-out all .4s;
    -webkit-transition: ease-in-out all .4s;
}

.dropdown-item:hover {
    color: #fafafa;
    font-weight: bold;
}

.fas:hover {
    padding: 10px;
}

.brand-logo:hover {
    color: #2576da;
}

/***********************Index.html*/

.card-info {
    border-radius: 50%;
    color: white;
    width: 10rem;
    height: 10rem;
    padding: 0.8rem;
    position: relative;
    margin: 2rem;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    border: 2px solid rgba(0, 0, 0, .125);
    box-shadow: -3px 8px 27px -2px rgba(180, 179, 179, 0.51);
    display: none;

}

.card-info::after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: white 2px solid;
    border-radius: 50%;
}

.card-info p {
    font-size: 1rem;
}

.card-1 {
    background-color: #2576da;
   
}

.card-2 {
    background-color: #039b2b;

}

.card-3 {
    background-color: #fafafa;
    color: #000000;

}

.card-4 {
    background-color: #ef1018;

}

.card-5 {
    background-color: #da8925;
}


.category-div,
.testimony-div {
    justify-content: center;
}

.testimony-div {
    background-color: black;
    border: 2px dotted white;
    margin: 2rem;
    padding: 1rem;
    width: 100%;
    height: 230px;
    box-shadow: -3px 8px 27px -2px rgba(0, 0, 0, 0.51);
}

.category-link {
    text-decoration: none !important;
    color: #000000;
    z-index: 2;
}

.category-heading {
    color: #da8925;
    font-weight: 700;
    text-shadow: 2px 2px black;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
}

.card:hover {
    box-shadow: 5px 6px 6px 2px rgba(97, 95, 95, 0.6);
    transform: scale(1.1)
}

.card {
    border: 2px solid rgba(0, 0, 0, .125);
    box-shadow: -3px 8px 27px -2px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: -3px 8px 27px -2px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -3px 8px 27px -2px rgba(0, 0, 0, 0.51);
}

.btn-div {
    display: flex;
}

.btn-next,
.btn-more {
    background-color: #da8925;
    border-radius: 0.5rem;
    color:#fafafa;
    margin: 0.5rem auto;
    border: 0.2rem solid #000000;
    font-family: 'Acme', sans-serif;
}

.btn-next:hover,
.btn-more:hover {
    background-color: #2576da;
    color: #fafafa ;
    transition: ease-in-out all .4s;
    -moz-transition: ease-in-out all .4s;
    -webkit-transition: ease-in-out all .4s;
    box-shadow: -3px 8px 27px -2px rgba(0, 0, 0, 0.51);
}


/***********************Trips Page*/

.heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.main-content {
    margin-bottom: 5rem;
    height: fit-content;
    flex: 1 0 auto;
}

.btn-dropdown {
    background-color: #2576da;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 1 rem;
    font-weight: 600;
    margin: 1rem;
}

.dropdown-item:hover {
    transition: ease-in-out all .4s;
    -moz-transition: ease-in-out all .4s;
    -webkit-transition: ease-in-out all .4s;
    background-color: rgba(97, 95, 95, 0.6);
    text-decoration: none;
    font-weight: bold;
}


.btn-more {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 70%;
    padding: 0.2rem;
}

.btn-more i {
    display: block;
}

.card-body .list-group-item {
    border: none;
}

.card-body .list-group {
    flex-direction: unset;
}

.add-to-favourites i {
    font-size: 2rem;
    margin-left: 80%;
    color: #fafafa;
}

.add-to-favourites {
    background-color: #da8925;
    border: none;
    border-radius: none;
}

.add-to-favourites:hover {
    background-color: #000000;
}

.add-to-favourites i:hover {
    color: #ef1018;
}

.pagination {
    background-color: #fafafa;
}

.page-link {
    color: #000000;
}

.pagination-section {
    height: fit-content;
}

.short-description {
    height: 12rem;
    overflow: auto;
    scroll-behavior: smooth;
    margin: 0px;
}

.card-trip {
    height: 48rem;
    margin:  3rem 0rem;
    width: 21rem;
    border: 2px solid #000000;
}

.card-trip img {
    height: 220px;
}

.results {
    font-weight: 900;
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

.page-item.active .page-link {
    background-color: #000000;
    border-color: #000000;
}

/***********************Trip Details*/

.btn-book {
    position: fixed;
    top: 20%;
    left: 80%;
    width: 10rem;
    height: 5rem;
    padding: 1.1rem;
    font-size: 1.8rem;
    z-index: 1;
}

.btn-favourite {
    margin: 1rem;
    position: absolute;
    top: 19%;
    width: 5rem;
    height: 5rem;
    z-index: 1;
    border: 0.2rem solid #000000;
}

.btn-favourite i {
    margin: 0px;
}
/*font-family: 'Acme', sans-serif; - headings
font-family: 'Oxygen', sans-seri  - paragraphs */

/* from Bulma */
/* css for fontawesome to create consistency */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/**********************View Availability*/

.booking-form {
    margin-top: 5rem;
    border: 5px #2576da solid;
    padding: 5rem;
    background-color: #da8925;
    border-radius: 5px;
}

.btn-div {
    display: flex;
    justify-content: space-between;
}

.add-booking-btn {
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px;
}

/**********************Footer*/

footer {
    margin-top: auto;
    background: #000000;
    flex-shrink: 0;
}

.footer-links {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.footer-links li,
.footer-links a {
    color: #fafafa;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.social-icons {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 0.2rem;
}

.social-icons li {
    display: inline-block;
    position: relative;
    padding: 0rem 0.8rem;
    color: #fafafa;
    font-size: 1.5rem;
    box-shadow: 1.5rem .5rem .8rem rgba(0, 0, 0, 0.8);
}

.social-icons li a {
    color: #fafafa;
}

.social-icons li a:hover,
.footer-links li:hover,
.footer-links li a:hover {
    color: #2576da;
    background-color: rgba(97, 95, 95, 0.6);
    border-radius: 10%;
    padding: 1rem;
    transition: ease-in-out all .4s;
    -moz-transition: ease-in-out all .4s;
    -webkit-transition: ease-in-out all .4s;
}

.copy-rights-text {
    color: #fafafa;
    font-size: .8rem;
    margin: 1rem auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 320px) {
    .nav-link {
        padding: 0px;
    }

    ul {
        padding: 0px;
    }

    .card-info {
    height: 8rem;
    width: 8rem;
    margin: 1rem 0.1rem;
    }

    .card-info .card-body {
        padding: 0px;
    }

    .testimony-div {
        height: fit-content !important;
    }

}

@media (max-width: 420px) {
    .category-heading {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .testimony-div {
        height: 450px;
    }
    
}