{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Home {% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block content %}
<section class="main-content">
<div class="container">
    <!--booking form-->
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-8 offeset-md-2 col-sm-12">
        <form action="{% url 'add_to_bag' trip.id %}" method="POST" class="booking-form">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <label for="trip-name">{{ trip_name }}</label>
              <input type="text" class="form-control disabled" data-item_id="{{ trip.id }}" name="trip-name" placeholder="{{ trip.name }}" aria-label="Trip Name">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <label for="total_adults">Select Number of Adults:</label>
              <input type="number" id="total_adults" class="from-control" name="total_adults" min="1" max="9">
              <p> @ {{ trip.adult_price }}</p>
            </div>
            {% if trip.family_friendly %}
            <div class="col-lg-4">
              <label for="num_of_children">Select Number of Children:</label>
              <input type="number" id="num_of_children" class="from-control" name="num_of_children" min="1" max="9">
              <p> @ {{ trip.child_price }}</p>
            </div>
            {% endif %}
            <div class="col-lg-4">
              <p>Date: <input type="text" class="form-control" id="datepicker"></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Number of Tickets: </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Total Price</p>
            </div>
          </div>
          <div class="row">
            <div class="col btn-div">
              <a href="{{ trip.get_url }}" class="btn btn-lg add-booking-btn">Go Back</a>
              <button type="submit" class="btn btn-lg add-booking-btn">Add to Suitcase</button>
            </div>
          </div>
          <!--redirect path-->
          <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </form>
      </div>
    </div>
</div>
</section>

{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script>
        // Code taken from https://api.jqueryui.com/datepicker/
        $( function() {
          $( "#datepicker" ).datepicker();
        } );
    </script>
{% endblock %}



