{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Edit Review {% endblock %}

{% block content %}

<section class="main-content">
    <div class="container p-0">
        <!--heading-->
        <div class="row">
            <div class="col-s12 mt-4">
                <h1 class="text-center heading">You can now update your review here</h1>
            </div>
        </div>
        <div class="row mt-3">
            <!--User Reviews-->
            <form action="{% url 'edit_review' review.id %}" method="POST"
                class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 review-form" id="review-form">
                {% csrf_token %}
                <div class="col mt-3">
                    <p>Curren Star Rating: <strong>{{review.rating}}/5</strong></p>
                </div>
                <p>Update this trip rating</p>
                <fieldset class="rating">
                    <input type="radio" id="rating10" name="rating" value="5" />
                    <label for="rating10" title="5 stars"></label>
                    <input type="radio" id="rating9" name="rating" value="4.5" />
                    <label class="half" for="rating9" title="4.5 stars"></label>
                    <input type="radio" id="rating8" name="rating" value="4" />
                    <label for="rating8" title="4 stars"></label>
                    <input type="radio" id="rating7" name="rating" value="3.5" />
                    <label class="half" for="rating7" title="3.5 stars"></label>
                    <input type="radio" id="rating6" name="rating" value="3" />
                    <label for="rating6" title="3 stars"></label>
                    <input type="radio" id="rating5" name="rating" value="2.5" />
                    <label class="half" for="rating5" title="2.5 stars"></label>
                    <input type="radio" id="rating4" name="rating" value="2" />
                    <label for="rating4" title="2 stars"></label>
                    <input type="radio" id="rating3" name="rating" value="1.5" />
                    <label class="half" for="rating3" title="1.5 stars"></label>
                    <input type="radio" id="rating2" name="rating" value="1" />
                    <label for="rating2" title="1 star"></label>
                    <input type="radio" id="rating1" name="rating" value="0.5" required/>
                    <label class="half" for="rating1" title="0.5 star"></label>
                </fieldset>

                <div class="col">
                    <label for="subject" class="form-label">Review Title:</label>
                    {{ form.subject}}
                </div>
                <div class="col">
                    <label for="review" class="form-label">Review:</label>
                    {{ form.review }}
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-dropdown" id="btn-submit">Submit Review</button>
                </div>
            </form>
        </div>
        <!--Button to return to profile-->
        <div class="row">
            <div class="col text-center">
                <a href="{% url 'view_reviews' %}" class="btn-next btn">Go back to Reviews</a>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}
