{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Favourites {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'trips/css/trips.css' %}">
{% endblock %}

{% block content %}

<section class="main-content">
    <div class="container p-0">
        <!--heading-->
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-s12 mt-4">
                <h1 class="text-center heading">{{ user.first_name|capfirst }}'s favourites</h1>
            </div>
        </div>
        {% endif %}
        <!--display all the trips-->
        <div class="row">
            <div class="col">
                <p class="result-count">
                    <span class="results">{{ fav_result_count }}</span> Saved Trips
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            {% for trip in fav_trips %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-trip">
                    <a href="{% url 'add_to_favourite' trip.id %}" class="btn add-to-favourites"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Remove this trip">
                        <i class="fas fa-trash"></i>
                    </a>
                    <a href="{{ trip.get_url }}">
                        <img src="{{ trip.images.url }}" class="card-img-top" alt="{{ trip.name }}">
                    </a>
                    <div class="card-body">
                        <a href="{{ trip.get_url }}">
                            <h4 class="card-title">{{ trip.name }}</h4>
                        </a>
                        <p class="card-text short-description">{{ trip.short_description }}</p>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p>
                                   <i class="fas fa-hourglass-end d-block" aria-hidden="true"></i>
                                   <span class="sr-only">duration of the trip</span>
                                   {{ trip.duration }}hrs
                                </p>
                            </div>
                            <div class="col">
                                <p><i class="fas fa-euro-sign d-block" aria-hidden="true"></i>
                                    <span class="sr-only">euro</span>
                                    {{ trip.adult_price }}
                                </p>
                            </div>
                            <div class="col">
                                <p><i class="fas fa-star d-block" aria-hidden="true"></i>
                                    <span class="sr-only">star rating</span>
                                    {{ trip.averageRating }}/5 
                                </p>
                            </div>
                            <div class="col">
                                {% if trip.family_friendly %}
                                <p>
                                    <i class="fas fa-child d-block" aria-hidden="true"></i>
                                    Family Friendly
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <a href="{{ trip.get_url }}" class="btn text-white btn-next btn-bottom"><i
                                        class="fas fa-plus" aria-hidden="true"></i> More Info
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row m-1">
            <div class="col text-center">
                {% if fav_result_count == 0 %}
                <h4 class="text-center">You have not added any trips to your favourites yet.</h4>
                <h5 class="d-inline">Checkout our experiences</h5>
                <a href="{% url 'trips' %}" class="btn-next btn d-inline">Here</a>
                {% endif %}
            </div>
        </div>
        <!--Button to return to profile-->
        <div class="row mt-2">
            <div class="col text-center">
                <a href="{% url 'profile' %}" class="btn-next btn">Go back to Profile</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
