{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Forgot Password {% endblock %}

{% block content %}
<section class="main-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-auto mt-5">
                <h2>Forgot Password</h2>
            </div>
        </div>
        
        <div class="row justify-content-md-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <form class="row g-3" action="{% url 'forgot_password' %}" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address:</label>
                    <input type="email" autofocus class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                  </div>
                    <button type="submit" class="btn btn-next">Submit</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-lg-4 col-md-8 mt-5">
            <p class="d-md-inline">Do not have an account ?</p><a class="btn btn-dropdown d-md-inline" href="{% url 'register' %}">Register</a>
          </div>
        </div>
    </div>
</section>
{% endblock %}

