{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Login {% endblock %}

{% block content %}
<section class="main-content">
    <div class="container">
      {% if request.GET.command == 'verification' %}
      <div class="row justify-content-md-center verification-div">
        <div class="col-lg-6 mt-5 ">
          <p> Thank you for creating an account with us.
            We have send a verification link to your email address <strong>{{request.GET.email}}</strong>.
            Please click on the link and activate your account.
          </p>
          <hr>
          <p>
            If you have activated you account already.</p>
            <p>
          
             Please 
            <a class="btn btn-dropdown d-inline" href="{% url 'login'%}">Login</a>
          </p>
        </div>
      </div>
      {% else %}
        <div class="row justify-content-center">
            <div class="col-md-auto mt-3">
                <h2>Login Here</h2>
            </div>
        </div>
        
        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <form class="row g-3" action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                  </div>
                  <button type="submit" class="btn btn-next">Login</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-lg-4 col-md-8 mt-5">
            <p class="d-inline">Do not have an account ?</p><a class="btn btn-dropdown d-inline" href="{% url 'register' %}">Register</a>
          </div>
        </div>
      {% endif %}
    </div>
</section>
{% endblock %}

