{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Profile {% endblock %}

{% block content %}
<section class="main-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-auto mt-3">
                <h2>Welcome {{ user.first_name|capfirst }} to your profile page!</h2>
            </div>
        </div>
        <div class="row">
          <!--Profile Image-->
          <div class="col text-center">
            <img src="{{ userprofile.profile_img.url }}" alt="Profile Picture"
              class="img-fluid profile-img rounded-circle">
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a class="btn btn-dropdown w-100" href="#order-history">View Order History</a>
            </div>
            <div class="col-md-4 col-sm-12">
                <a class="btn btn-dropdown w-100" href="{% url 'edit_profile' %}">Edit Your Profile</a>
            </div>
            <div class="col-md-4 col-sm-12">
                <a class="btn btn-dropdown w-100" href="{% url 'favourites' %}">View Favourites</a>
            </div>
            {% if user.is_superadmin %}
            <div class="col-md-4 offset-md-2 col-sm-12">
                <a class="btn btn-dropdown w-100" href="{% url 'view_reviews' %}">Mange Reviews</a>
            </div>
            <div class="col-md-4 col-sm-12">
                <a class="btn btn-dropdown w-100" href="{% url 'add_trip' %}">Add Trip</a>
            </div>
            {% else %}
            <div class="col-md-4 offset-md-4 col-sm-12">
                <a class="btn btn-dropdown w-100" href="{% url 'view_reviews' %}">Mange Reviews</a>
            </div>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            {% if orders %}
            <div class="col-12" id="order-history">
                <p class="text-muted">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.ticketitems.all %}
                                        <li class="small">

                                            {{ item.trip.name }} x {{ item.quantity }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>${{ order.grand_total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class="col">
                <p>Your order history will be displayed here once you place your first order</p>
            </div>
            {% endif %}
        </div>
    
    </div>
</section>


{% endblock %}




