{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Reset Password {% endblock %}

{% block content %}
<section class="main-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-auto mt-5">
                <h2>Reset Password</h2>
            </div>
        </div>
        
        <div class="row justify-content-md-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <form class="row g-3" action="{% url 'reset_password' %}" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Create Password:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password-1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="password-2">
                  </div>
                    <button type="submit" class="btn btn-next">Reset</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-lg-4 col-md-8 mt-5">
            <p class="d-inline">Do not have an account ?</p><a class="btn btn-dropdown d-inline" href="{% url 'register' %}">Register</a>
          </div>
        </div>
    </div>
</section>
{% endblock %}

