<ul>
    <!--access to the account menu-->
    <li class="nav-item dropdown list-inline-item nav-item">
        <a class="nav-link dropdown-toggle text-white d-block d-lg-none" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="text-center">
                {% if user.is_authenticated %}
                    {% if user_profile.profile_img %}
                     <img src="{{ user_profile.profile_img.url }}" alt="Profile Picture"
                    class="img-fluid img-thumbnail rounded-circle d-block">
                     {% else %}
                    <img src="{{ 'default_user.png.url' }}" alt="Default Profile Image"
                    class="img-fluid img-thumbnail rounded-circle d-block">
                    {% endif %}
                {% else %}
                <i class="fas fa-user fa-lg d-block"></i>
                {% endif %}
            </div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if user.is_authenticated %}
          <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
          <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
        {% endif %}
        </ul>
    </li>
    <!--favourites-->
    <li class="list-inline-item nav-item">
        <a class="nav-link text-white d-block d-lg-none"
            href="">
            <div class="text-center">
                <div><i class="fas fa-heart fa-lg"></i></div>
                <p class="my-0">
                 1
                </p>
            </div>
        </a>
    </li>
    <!--access to the shopping bag-->
    <li class="list-inline-item nav-item">
        <a class="nav-link {% if total_price %} in-suitcase {% else %} text-white {% endif %} d-block d-lg-none"
            href="{% url 'bag' %}">
            <div class="text-center">
                <div><i class="fas fa-suitcase-rolling fa-lg"></i></i></div>
                <p class="my-0">
                    {% if grand_total %}
                    <i class="fas fa-euro-sign"></i> {{ grand_total|floatformat:2 }}
                    {% else %}
                    <i class="fas fa-euro-sign"></i> 0.00
                    {% endif %}
                </p>
            </div>
        </a>
    </li>
</ul>

