<ul>
    <!--access to the account menu-->
    <li class="nav-item dropdown list-inline-item nav-item">
        <a class="nav-link dropdown-toggle text-white d-block d-lg-none" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="text-center"><i class="fas fa-user fa-lg"></i>
            </div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Login</a></li>
          <li><a class="dropdown-item" href="#">Register</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
    </li>
    <!--favourites-->
    <li class="list-inline-item nav-item">
        <a class="nav-link text-white d-block d-lg-none"
            href="">
            <div class="text-center">
                <div><i class="fas fa-heart fa-lg"></i></div>
                <p class="my-0">
                 1
                </p>
            </div>
        </a>
    </li>
    <!--access to the shopping bag-->
    <li class="list-inline-item nav-item">
        <a class="text-primary text-white font-weight-bold nav-link d-block d-lg-none"
            href="">
            <div class="text-center">
                <div><i class="fas fa-suitcase-rolling fa-lg"></i></i></div>
                <p class="my-0">
                    $0.00
                </p>
            </div>
        </a>
    </li>
</ul>

