<a class="d-inline btn remove-item m-1"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{ review.id }}">
    <i class="fas fa-trash" aria-hidden="true"></i>
    <span class="sr-only">delete</span>
    Delete
</a>    
<!-- Modal -->
<div class="modal fade" id="exampleModal-{{ review.id }}" tabindex="-1"
    aria-labelledby="exampleModalLabel-{{ review.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel-{{ review.id }}">
                    {{ review.trip }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete review for {{ review.trip }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-dropdown w-auto"
                    data-bs-dismiss="modal">
                    <i class="fas fa-times" aria-hidden="true"></i>
                    Close
                </button>
                <a href="{% url 'delete_review' review.id %}"
                    class="btn remove-item w-auto">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                    <span class="sr-only">delete</span>
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>