{% extends 'base.html' %}
{% load static %}

{% block extra_title %} Error {% endblock %}

{% block extra_css %}
    
{% endblock %}

{% block content %}
<section class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col error-500 text-center">
                <h1>Something has gone wrong, while we are looking into it....</h1>
                <a href="{% url 'home' %}" class="btn btn-dropdown">Go Back</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}




